<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/edit.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights/<%= flight._id %>?_method=PUT" method="POST">
    <label for="airline-select">Airline:</label>
    <select name="airline" id="airline-select">
      <option value="American">American</option> 
      <option value="Southwest">Southwest</option> 
      <option value="United">United</option> 
    </select>

    <label for="airport-input">Airport:</label>
    <select name="airport" id="airport-input">
      <option value="AUS">AUS</option> 
      <option value="DFW">DFW</option> 
      <option value="DEN" selected>DEN</option> 
      <option value="LAX">LAX</option> 
      <option value="SAN">SAN</option>
    </select>

    <label for="flightNo-input">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo-input" required="true" value="<%= flight.flightNo %>">

    <label for="depart">Departure Date:</label>
    <input type="datetime-local" name="depart" id="date-input" value="<%= flight.depart.toISOString().slice(0,16) %>">

    <button type="submit">Save Flight Details</button>
  </form>
</main>

<%- include("../partials/footer") %>