<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/styles.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Movie List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <%# Write the line of EJS to iterate over movies using forEach %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.releaseYear %></td>
          <td><%= movie.mpaaRating %></td>
          <td><%= movie.cast.join(', ') %></td>
          <%# finish the ternary expression to display 'Yes' or 'Nope' %> 
          <td><%= movie.nowShowing ?  %></td>
        </tr>
      <%# Close the forEach using EJS here %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>